/*-----------------------------------------General*/

*{
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
}

h2 {
  text-align: center;
}

/*------------------------------------------Accueil*/
.border {
  border: 1px solid #ffffff;
}
.border-right {
  border-right: 1px solid #ffffff ;
}

.border-section {
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.border-left {
  border-left: 1px solid #ffffff;
}

iframe {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 3.5em;
margin-top: 5px;
}

.bgred {
  background-color: #b71c35;
}

.fix {
  margin-left: 50%
}
.coll {
  background-color: #4c4c4c;
  box-shadow: inset 0px 6px 8px 0px white;
  padding: 10px;
  text-align: justify;
}



/*-------------------------------------------Footer */

.backfooter{
  background-color: #b2b2b2;
}

.grandest{
  width:23%;
  height:17%;
}

.ardennemetropole{
  width: 23%;
  height: 17%;
}

.grandest, .ardennemetropole, .europesengage, .ue, .etat{
  margin-top: 20px;
}

.grandest, .ardennemetropole, .europesengage, .ue, .etat{
  margin-right: 25px;
}

.europesengage{
  width: 12.6%;
  height: 17%;

}

.ue{
  width: 9.1%;
  height: 12%;
}

.etat{
  width: 12.1%;
  height: 55%;
}

.logo-simplon{
  height: 30%;
  width: 8%;
}

#logotwitter{
  margin-top: 10px;
  margin-right:20px;
  color: #1A97F0;
  font-size: 40px;
}

#fblogo{
  margin-top: 10px;
  margin-right:20px;
  color: #3F5CA0;
  font-size: 40px;
}


footer h1{
  padding-left: 33px;
  padding-top: 15px;
  font-weight: 200;
  color: white;
}

footer h2{
  font-size: 20px;
  color: white;
  font-weight: 300;
}

footer p{
  margin-top: 20px;
  font-size: 15px;
  font-weight: 100;
  color: white;
}


footer h1{
  padding-left: 33px;
  padding-top: 15px;
  font-weight: 200;
  color: white;
}

footer h2{
  font-size: 20px;
  color: white;
  font-weight: 300;
}

footer p{
  margin-top: 20px;
  font-size: 15px;
  font-weight: 100;
  color: white;
}


/*header*/

nav{
  background-color: #fff;
  border-bottom: 1px grey solid;
}

.navigation{
  width: 70%;
}

.headerlogo {
  width: 20%;
  height: 20%;
}
nav ul{
margin: 0 auto;
width: 73%;
}

nav ul li{
  margin-left: 1em;
}

nav ul li a{
  font-size:1.1em;
  color: #000;
  font-weight: bold;
  text-shadow: 1.3px 1.3px #FFF;
}

.space {
    margin-right: 8%;
}

.space2 {
    margin-left: 7%;
}

.headerimg{
  padding-top: 4em;
    margin: 3% 43%;
    width: 7%;
    position: fixed;
}

/*retouche div esthétisme*/

#centrage {
  display: flex;
  justify-content: center;
  width:100%;
}
#marginbottom{
  margin-bottom:0.5em;
}

.divborder{
  border: 0.5em solid #ffffff;
  border:0.5em 0.5em 0.5em 0.5em;
}
.divcenterhori {
display:flex;
}
.divcenterverti {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:2em;
  width:80em;
}
.padding {
  padding: 1em;

}
.button2 {
  color: white;
  background-color: #b71c35;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.button3 {
  color: white;
  background-color: #b71c35;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.button3:hover {
  background-color: #f00b4e;
}
.taille {
  max-height: 330px;
}
