p {
  text-align: justify;
}

.border {
  border: 1px solid #ffffff;
}
.border-right {
  border-right: 1px solid #ffffff ;
}

h2 {
  text-align: center;
}

.border-section {
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.border-left {
  border-left: 1px solid #ffffff;
}

iframe {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 3.5em;
margin-top: 5px;
}

.bgred {
  background-color: #b71c35;
}

.fix {
  margin-left: 50%
}
.coll {
  background-color: #4c4c4c;
  box-shadow: inset 0px 6px 8px 0px white;
  padding: 10px;
  text-align: justify;
}



/* Footer */

.backfooter{
  background-color: #b2b2b2;
}



/* Logos partenaires*/

.grandest, .ardennemetropole{
  width: 33%;
}

.grandest, .ardennemetropole, .europesengage, .ue, .etat{
  margin-top: 20px;
}

.grandest, .ardennemetropole, .europesengage, .ue, .etat{
  margin-right: 25px;
  height: 50px;
}

.europesengage{
  width: 22%;
}

.ue{
  width: 15%;
}

.etat{
  width: 9%;

}

.logo-simplon{
  height: 80px;
  width: 22%;
}

/* Logos réseaux sociaux */

#logotwitter{
  margin-top: 10px;
  margin-right:20px;
  color: #1A97F0;
  font-size: 40px;
}

.fblogo{
  margin-top: 10px;
  height: 38px;
  width: 8%;
}

/* Textes et titres */


footer h1{
  padding-left: 33px;
  padding-top: 15px;
  font-weight: 200;
  color: white;
}

footer h2{
  font-size: 20px;
  color: white;
  font-weight: 300;
}

footer p{
  margin-top: 20px;
  font-size: 15px;
  font-weight: 100;
  color: white;
}


/*header*/

nav{
  background-color: #fff;
  border-bottom: 1px grey solid;
}

.headerlogo {
  width: 20%;
  height: 20%;
}
nav ul{
margin-left: 15%;
}

nav ul li{
  margin-left: 1em;
}

nav ul li a{
  font-size:1.1em;
  color: #000;
  font-weight: bold;
  text-shadow: 1.3px 1.3px #FFF;
}

.space{
  margin-right: 9em;
}

.space2{
  margin-left: 3em;
}


.headerimg{
  padding-top: 4em;
    margin: 3% 43%;
    width: 7%;
    position: fixed;
}

/*retouche div esthétisme*/

<<<<<<< HEAD
 .affix + .container-fluid {
     padding-top: 70px;
 }


/* Formulaire */
=======
#centrage {
  display: flex;
  justify-content: center;
  width:100%;
}
#marginbottom{
  margin-bottom:0.5em;
}

.divborder{
  border: 0.5em solid #ffffff;
  border:0.5em 0.5em 0.5em 0.5em;
}
.divcenterhori {
display:flex;
}
.divcenterverti {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:2em;
  width:80em;
}
.padding {
  padding: 1em;
}
>>>>>>> 257aa7998430c4c112026898291ea607d8e2f1b3
