/* Logos partenaires gauche */

.grandest, .ardennemetropole{
  height: 70px;
  width: 220px;
  margin-bottom: 30px;
  margin-top: 30px;
}

#europesengage{
  height: 70px;
  width: 130px;
}

#ue{
  height: 70px;
  width: 100px;
}

#etat{
  height: 70px;
  width: 120px;
}

/* Logos partenaires droite */

#logotwitter{
 margin-top: 30px;
 margin-right:20px;
 color: #1A97F0;
}

#logofb{
 margin-top: 30px;
 color: #344E94;
}
