/*---------------------------------------------------------------------General*/

*{
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
}

h2 {
  text-align: center;
}


/*------------ Footer .php */

footer{
  margin-top: 50px;
  background-color: #b2b2b2;
}

footer h1{
  padding-left: 33px;
  padding-top: 15px;
  font-weight: 200;
  color: white;
}

footer h2{
  font-size: 20px;
  color: white;
  font-weight: 300;
}

footer p{
  margin-top: 20px;
  font-size: 15px;
  font-weight: 100;
  color: white;
}

.container-fluid{
  width: 75%;
}

.grandest{
  width:15%;
  height:17%;
}

.ardennemetropole{
  width: 15%;
  height: 17%;
}

.grandest, .ardennemetropole, .europesengage, .ue, .etat{
  margin-top: 20px;
}

.grandest, .ardennemetropole, .europesengage, .ue, .etat{
  margin-right: 25px;
}

.europesengage{
  width: 8.2%;
  height: 17%;

}

.ue{
  width: 5.9%;
  height: 12%;
}

.etat{
  width: 7.9%;
  height: 55%;
}

.logo-simplon{
  height: 30%;
  width: 8%;
}

#logotwitter{
  margin-top: 10px;
  margin-right:20px;
  color: #1A97F0;
  font-size: 40px;
}

#fblogo{
  margin-top: 10px;
  margin-right:20px;
  color: #3F5CA0;
  font-size: 40px;
}

/*--------- header .php */

nav{
  background-color: #fff;
  border-bottom: 1px grey solid;

}

nav ul{
  margin: 0 auto;
  width: 50%;

}

nav ul li a{
  font-size:1.1em;
  color: #000;
  font-weight: bold;
  text-shadow: 1.3px 1.3px #FFF;
}

.navigation{
  width: 100%;
}

.headerlogo {
  width: 20%;
  height: 20%;
}

.space {
    margin-right: 8%;
}

.space2 {
    margin-left: 7%;
}

.headerimg{
  padding-top: 4em;
    margin: 3% 43%;
    width: 7%;
    position: fixed;
}

/*---------------------------------------------------------------------Accueil*/

iframe {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 3.5em;
  margin-top: 5px;
}

.border {
  border: 1px solid #ffffff;
}

.border-right {
  border-right: 1px solid #ffffff ;
}

.border-section {
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.border-left {
  border-left: 1px solid #ffffff;
}

.bgred {
  background-color: #b71c35;
}

.fix {
  margin-left: 50%
}

.coll {
  background-color: #4c4c4c;
  box-shadow: inset 0px 6px 8px 0px white;
  padding: 10px;
  text-align: justify;
}

/*------------------retouche div esthétisme*/

.divborder{
  border: 0.5em solid #ffffff;
  border:0.5em 0.5em 0.5em 0.5em;
}

.divcenterhori {
  display:flex;
}

.divcenterverti {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:2em;
  width:80em;
}

.padding {
  padding: 1em;
}

#centrage {
  display: flex;
  justify-content: center;
  width:100%;
}

#marginbottom{
  margin-bottom:0.5em;
}

/*-----------------button*/

.button3 {
  background-color: #f00b4e;
  border-radius: 50%;
  border:1px solid black;
}

.button3:hover {
  background-color: #b71c35;
}

.button2 {
    background-color: #f00b4e;
    color: white;
    padding: 30px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px grey;
}

.taille {
  max-height: 330px;
}

/*-----------------------------------------------------------Page présentation*/

/*------------------------roue*/

ul li{
  list-style: none;
  text-align: center;
}

.contenu{
  height: 1000px;
}

.logo-spin{
  z-index: 999;
}

.choix1 , .choix2 ,.choix3 ,.choix4 ,.choix5{
  position: absolute;
  z-index: 1;
  width: 145px;
  height: 80px;
  background-color: #ed1651;
  padding: 0 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.choix1 a,.choix2 a,.choix3 a,.choix4 a,.choix5 a{
  font-size: 16px;
  color: #fff;
  line-height: 80px;
  float: right;
  text-decoration: none;
  font-weight: bold;
}

.choix1{
  top: 15%;
  left: 13%;
  transform: rotate(216deg);
}

.choix2{
  top: 0%;
  left: 55%;
  transform: rotate(288deg);
}

.choix3{
  top: 73%;
  left: 13%;
  transform: rotate(144deg);
}

.choix4{
  top: 89%;
  left: 54%;
  transform: rotate(72deg);
}

.choix5{
  top: 45%;
  left: 76%;
}

.selectionmain:hover {
  animation-play-state: paused;

}

.selectionmain {

    position: absolute;
    margin-top: 25%;
    left: -120%;
    -webkit-animation:spin 9s linear infinite;
    -moz-animation:spin 9s linear infinite;
    animation:spin 9s linear infinite;
    animation-duration: 16s;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg);
}}

@keyframes spin { 100% { -webkit-transform: rotate(360deg);
  transform:rotate(360deg); }
}

/*------------------------texte-container*/



/*------------------------------------------------------------Page formulaire */

td{
  padding-left: 50%;
}

label{
  margin-bottom: -0.3rem;
  margin-top: 1rem;
}

textarea{
  resize:none;
}

form{
  height: 928px;
}

.table{
  max-width: 334px;
  min-width: 210px;
}

.field{
   padding-top: 10px;
 }

.boutonform{
  padding-top: 20px;
}

.img-fluid{
  max-width: 200px;
  min-width: 50px;
}

#formulaire{
  margin-top: 100px;
}
